*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #a4a4ec;
    width: 100%;
    height: 540px;
    margin: 5px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin: 5px;
    padding: 8px;
    background-color: rgb(174, 214, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 5px 5px rgb(20, 20, 20);
}
h1{
    margin: 5px;
    padding: 5px;
    font-weight: 500;
}

.filiper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btn{
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-width: 2px;
    font-weight: 500;
}

button:hover{
    background-color: #bac521;
}